form{
    width: 50%;
    margin-top: 2rem;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.data-finalizar{
    text-align: center;
    margin: auto;
}

.titulo{
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    margin: auto;
    margin-top: 3rem;
    color: gray;
}

.form{
    width: 100%;
}

.buttons{
    width: 100%;
}


button{
    margin-right: .5rem;
    padding-right: 2rem;
    padding-left: 2rem;
}